{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead -->
<header class="masthead my-20">
    <div class="text-center">
        <h1 class="section-heading text-uppercase">MUSICA</h1>
    </div>
</header>

<!-- Main Content -->
<div class="container my-4">
  <!-- Song List -->
  <div class="list-group list-group-flush">

    {% for cancion in canciones %}
    <!-- List items dynamically generated. -->
    <div class="row list-group-item align-items-center text-start">
      <!-- Album Image -->
      <div class="col-3 col-md-1">
        <img src="{% static 'assets/img/events/event1.png' %}" class="img-fluid rounded-2" alt="Event">
      </div>
    
      <!-- Song title and artist name -->
      <div class="col-7 col-md-3">
        <div class="fw-bold">{{ cancion.titulo }}</div>
        <div>{{ cancion.artista.nombre }}</div>
      </div>
    
      <!-- Album Name for non-mobile view -->
      <div class="col-md-2 d-none d-md-block">
        Álbum
      </div>
    
      <!-- Duration for non-mobile view -->
      <div class="col-md-2 d-none d-md-block">
        05:19
      </div>
    
      <!-- Action Buttons for non-mobile view -->
      <div class="col-md-3 d-none d-md-flex justify-content-end">
        <button class="btn">
          <img src="{% static 'assets/img/icons/like_0.svg' %}" class="song-icon" alt="Like">
        </button>
        <button class="btn">
          <img src="{% static 'assets/img/icons/down_w.svg' %}" class="song-icon" alt="Down">
        </button>
      </div>

      <!-- Menu button for mobile view -->
      <div class="col-2 d-block d-md-none text-end">
        <button class="btn">
          <img src="{% static 'assets/img/icons/threedot_w.svg' %}" class="song-icon" alt="Menu">
        </button>
      </div>

    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}