/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url("/static/assets/img/logos/bg_k1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5em;
}

.main-cover {
  max-width: 60em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.espaciador-nav {
  height: 60px; /* Ajusta esto a la altura de tu navbar */
}

/*

 * MEDIA 

*/

@media (max-width:796px) {

    
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }


/* ------------- */
/* LINK SETTINGS */
/* ------------- */

  .artista-song a {
      color: rgb(190, 190, 190); /* Cambia 'black' por el color que prefieras */
      text-decoration: none; /* Opcional: elimina el subrayado del enlace */
  }
  
  /* Cambia el color de los enlaces al pasar el mouse */
  .artista-song a:hover {
      color: rgb(255, 255, 255); /* Cambia 'grey' por el color que prefieras para el hover */
  }

  /* Cambia el color de los enlaces visitados */
  .artista-song a:visited {
      color: rgb(190, 190, 190); /* Cambia 'purple' por el color que prefieras para enlaces visitados */
  }

/* ------------- */
/* CARD SETTINGS */
/* ------------- */

/*Li donc 30% de opacitat a les tarjetes dels artistes */
  .card-background {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }

  .card-login-background {
    background-color: rgba(120, 120, 120, 0.1) !important;
  }

/* Serveix per a que la imatge estigui en blanc i negre i al passar el ratoli torni el color */
  .card-img-top {
    filter: grayscale(100%); /* Convertir imagen a blanco y negro */
    transition: filter 0.5s ease; /* Efecto de transición suave */
  }
  .card-img-top:hover {
    filter: grayscale(0); /* Restaurar color al pasar el ratón por encima */
  }

  .card-movement:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Sombra más pronunciada */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Transición suave para el zoom y la sombra */
  }
.masthead{
  margin-top: 60px;
}



/* ------------- */
/* SONG SETTINGS */
/* ------------- */


/* General List Group Styling */
.list-group-item {
  border: none;
  padding: 10px 15px;
  display: flex;
  background-color: transparent;
  border-radius: .5rem !important;
  margin-bottom: 0.5rem;
  color: white !important;

}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Music Image Styling */
.music-img {
  object-fit: cover; /* Ensure the image covers the area */
  width: 55px; /* Set a fixed width */
  height: 55px; /* Set a fixed height to maintain aspect ratio */
  margin-right: 10px; /* Add spacing to the right of the image */
}

/* Song Icon Styling */
.song-icon {
  height: 18px; /* Set the height for the icon */
  width: 18px; /* Set the width to maintain aspect ratio */
}

/* Number Icon Wrapper Styling */
.icon-number-wrapper {
  position: relative;
  padding: 0 8px;
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Styling for Like Number and Like Icon */
.like-number, .like-icon {
  position: absolute;
  color: white;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  opacity: 0;
  visibility: hidden;
}

.icon-number-wrapper:hover .like-icon {
  opacity: 1;
  visibility: visible;
}

.icon-number-wrapper:hover .like-number {
  opacity: 0;
  visibility: hidden;
}

/* Responsive Adjustments for Display on Different Screen Sizes */
@media (max-width: 768px) {
  /* For smaller screens, you might want to adjust padding, font sizes, etc. */
}

/* Other specific stylings for your buttons and additional elements can be added here */

/* Ensure the action buttons don't wrap or overflow */
.btn {
  white-space: nowrap; /* Prevent wrapping of button contents */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis to overflowed text */
}

/* This ensures that the '...' button for small screens is visible */
.d-block.d-md-none .btn {
  padding: 0; /* Adjust padding for small screen buttons if needed */
}

/* You can add hover effects or additional stylings below */






/* ------------- */
/* LOGIN I LOGOUT */
/* ------------- */


.signup-model .card {
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.signup-model .btn-block {
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
}

.signup-model .form-control {
  border-radius: 0.25rem;
}

.signup-model form {
  margin-top: 2rem;
}


.signup-section .form-text {
  display: block; /* O usa 'inline' si prefieres que esté al lado del campo */
  margin-top: -0.5rem; /* Ajusta según el espaciado deseado */
  margin-bottom: 1rem; /* Ajusta según el espaciado deseado */
  font-size: 0.9rem; /* Un tamaño más pequeño para la ayuda y los mensajes de error */
  color: #6c757d; /* Un color más claro para la ayuda y los mensajes de error */
}

.signup-section .form-group label {
  font-weight: 600; /* Opcional: hace que la etiqueta del campo sea más prominente */
  margin-bottom: 0.5rem; /* Asegúrate de que haya espacio entre la etiqueta y el campo */
}

.signup-section .btn-primary {
  width: 100%; /* Hace que el botón se expanda para llenar el ancho del contenedor */
  /* Asegúrate de que el color del botón se destaque y coincida con la paleta de colores de tu sitio */
}

.signup-section .text-muted {
  display: block; /* Opcional: para cambiar la visualización del enlace */
  margin-top: .5rem; /* Espacio antes del enlace de cambio al formulario de inicio de sesión */
  font-size: 0.9rem; /* Un tamaño de fuente menor para el enlace a 'Sign in' */
}

/* Ajusta los estilos de responsividad según sea necesario */
@media (max-width: 768px) {
  .signup-section .col-md-8 {
    width: 90%; /* Puede ajustar esto para cambiar el ancho en dispositivos más pequeños */
  }
}


.marge-sup {
  margin-top: 120px;
}

.login-signup-control input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}