/* ------------- */
/* PAGINA DEL EVENTO*/
/* ------------- */
/* SSECCIO EVENTOS RELACIONATS */
/* Oculta la barra de desplazamiento pero permite el scroll */
.row-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
  }
  
  .row-scrollable.grabbing {
    cursor: grabbing;
  }
  
  /* Oculta la barra de scroll en diferentes navegadores COMPROVAR SI ES NECESARI, XK CREC Q ES POT ERLIINAT */
  .row-scrollable::-webkit-scrollbar {
    display: none;
  }
  
  .row-scrollable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Imatge del evento */
  .img-evento{
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.35);/* X-offset Y-offset blur spread color */
    /* X-offset y Y-offset determinan la posición horizontal y vertical de la sombra respecto a la imagen.*/ 
    /*Blur es el desenfoque de la sombra.*/ 
    /*Spread es el tamaño de la expansión de la sombra.*/ 
    /*Color es el color de la sombra, donde puedes usar rgba para la transparencia.*/ 
  }