.adjust-height {
    display: flex;
    align-items: stretch !important; /* Esto asegura que los hijos del contenedor tengan la misma altura */
}

.event-card-producto {
    display: flex;
    flex-direction: column; /* Hace que los hijos del .event-card se apilen verticalmente */
}

.carousel-producto, .img-thumbnail-producto {
    height: 100%; /* Hace que el carrusel y las miniaturas ocupen todo el alto del contenedor */
    object-fit: cover; /* Asegura que las imágenes cubran el espacio sin distorsionarse */
}


@media (max-width: 768px) {
.carousel, .img-thumbnail {
    width: 100%;
    height: auto;
    }

    .row.mb-5 {
        flex-direction: column;
    }
}