{% load static %}


<div class="fixed-bottom bg-dark">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img id="songImage" src="" alt="Imagen del álbum" style="width:100px; height:100px;">
                </div>
                <div class="col-md-6">
                    <div id="songTitle">Título de la canción</div>
                    <div id="songArtist">Nombre del artista</div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        afegir o treure
                    </div>
                </div>          
            </div>

        </div>
        
        <div class="col-lg-6">
            <div class="row align-items-center">
                <div class="col-md-1">
                    <img src="{% static 'assets/img/icons/next_l.svg' %}" src="" alt="play_left" style="width:30px; height:30px;">
                </div>
                <div class="col-md-1">
                    <img src="{% static 'assets/img/icons/play.svg' %}" src="" alt="play_pause" style="width:30px; height:30px;">
                </div>
                <div class="col-md-1">
                    <img src="{% static 'assets/img/icons/next_r.svg' %}" src="" alt="play_right" style="width:30px; height:30px;">
                </div>
            </div>
            <div class="row align-items-center">
                barra musica
            </div>
            
        </div>

    </div>
</div>