{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="text-center">
    </div>
</header>

<section class="page-section bg-black" id="portfolio">
    <div class="container">

        <div class="row">
            <div class="col-6">
                {% if artista.imagen %}
                <img src="{{ artista.imagen.url }}" alt="{{ artista.nombre }}" class="img-fluid">
                {% else %}
                <p>No hay imagen disponible.</p>
                {% endif %}
            </div>
            <div class="col-6">
                <h2>{{ artista.nombre}}</h2>
                <p>{{ artista.contacto}}</p>
                <p>CATEGORIES</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p>{{ artista.descripcion }}</p>
            </div>
            <div class="col-6">
                <p>Events proxims</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Artista</th>
                        <th scope="col">Reproducir</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cancion in canciones %}
                    <tr>
                        <th scope="row">{{ cancion.id }}</th>
                        <td>{{cancion.titulo}}</td>
                        <td><a href="{% url 'booking:artista' cancion.artista.id %}" >{{cancion.artista.nombre}}</a></td>
                        <td> <audio controls>
                            <source src="{{ cancion.archivo_audio.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
        
{% endblock %}