/* ------------- */
/* SONG SETTINGS */
/* ------------- */

/* General List Group Styling */
.list-group-item {
    border: none;
    
    display: flex;
    background-color: transparent;
    border-radius: .5rem !important;
    margin-bottom: 0.5rem;
    padding: 10px 15px;
    color: white !important;
  
  }
  
.list-group-item:hover {
background-color: rgba(255, 255, 255, 0.1);
}
  
/* Music Image Styling */
.music-img {
    object-fit: cover; /* Ensure the image covers the area */
    width: 55px; /* Set a fixed width */
    height: 55px; /* Set a fixed height to maintain aspect ratio */
    margin-right: 10px; /* Add spacing to the right of the image */
}
  
/* Song Icon Styling */
.song-icon {
    height: 18px; /* Set the height for the icon */
    width: 18px; /* Set the width to maintain aspect ratio */
}
  
/* Number Icon Wrapper Styling */
.icon-number-wrapper {
    position: relative;
    padding: 0 8px;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Styling for Like Number and Like Icon */
.like-number, .like-icon {
    position: absolute;
    color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-icon {
    opacity: 0;
    visibility: hidden;
}

.icon-number-wrapper:hover .like-icon {
    opacity: 1;
    visibility: visible;
}

.icon-number-wrapper:hover .like-number {
    opacity: 0;
    visibility: hidden;
}

/* Ensure the action buttons don't wrap or overflow */
.btn {
    white-space: nowrap; /* Prevent wrapping of button contents */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Add ellipsis to overflowed text */
}

/* This ensures that the '...' button for small screens is visible */
.d-block.d-md-none .btn {
    padding: 0; /* Adjust padding for small screen buttons if needed */
}